<section class="promo-section section section-on-bg">
    <div class="hero-slider-wrapper">
        <div class="flexslider hero-slider">
            <ul class="slides">
                <li class="slide slide-1">
                    <div class="container">
                        <div class="slide-box">
                            <div class="slide-box-inner">
                                <div class="text">"The object of education is to prepare the young to educate themselves throughout their lives."</div>
                                <a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video"><img class="play-icon" src="assets/images/play-icon.svg" alt="">Watch School Video</a>
                            </div><!--//slide-box-inner-->
                        </div><!--//slide-box-->
                    </div>
                </li>
                <li class="slide slide-2">
                    <div class="container">
                        <div class="slide-box">
                            <div class="slide-box-inner">
                                <div class="text">2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                                <div class="more-link">Read More</div>
                            </div><!--//slide-box-inner-->
                        </div><!--//slide-box-->
                    </div><!--//container-->
                </li>
                <li class="slide slide-3">
                    <div class="container">
                        <div class="slide-box">
                            <div class="slide-box-inner">
                                <div class="text">3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</div>
                                <div class="more-link">Read More</div>
                            </div><!--//slide-box-inner-->
                        </div><!--//slide-box-->
                    </div><!--//container-->
                </li>
                <li class="slide slide-4">
                    <div class="container">
                        <div class="slide-box">
                            <div class="slide-box-inner">
                                <div class="text">4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
                                <div class="more-link">Read More</div>
                            </div><!--//slide-box-inner-->
                        </div><!--//slide-box-->
                    </div><!--//container-->
                </li>
            </ul>
        </div>
    </div><!--//hero-slider-wrapper--> 
    
    <div class="hero-overlay">
        <div class="container-fluid">

            <div class="overlay-upper">
                <div class="container">
                    <div class="contact-info pull-left">
                        <div class="item">Tel: <a href="tel:0800123456">0800 123 45678</a></div>
                        <div class="item">Email: <a href="mailto:info@yourschoolsite.com">info@yourschoolsite.com</a></div>
                    </div><!--//contact-info-->
                    <ul class="social-media list-inline pull-right">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div><!--//container-->
            </div><!--//overlay-upper-->
            <div class="overlay-lower">
                <div class="container">
                    <div class="links">
                        <div class="link"><a href="about.html" title="Our School"><i class="fa fa-university link-icon" aria-hidden="true"></i><span class="link-text">Our School</span></a></div>
                        <div class="link"><a href="admissions.html" title="Admissions"><i class="fa fa-graduation-cap link-icon" aria-hidden="true"></i><span class="link-text">Admissions</span></a></div>
                        <div class="link"><a href="news.html" title="News &amp; Events"><i class="fa fa-newspaper-o link-icon" aria-hidden="true"></i><span class="link-text">News &amp; Events</span></a></div>
                        <div class="link"><a href="docs.html" title="Key Info"><i class="fa fa-info-circle link-icon" aria-hidden="true"></i><span class="link-text">Key Info</span></a></div>
                    </div>
                </div><!--//container-->
            </div><!--//overlay-lower-->
        </div>
    </div><!--//hero-overlay-->
     
    <div class="hero-badge">
        <div class="badge-content">
            <div class="script">Open Day</div>
            <div>2017</div>
            <a href="admissions.html" class="link-mask"></a>
        </div><!--//bagde-content-->
    </div><!--//hero-badge-->
    
    
    
    
    
</section><!--//promo-section-->