

<footer class="footer">
    <div class="container">
            <div class="row">
                <div class="footer-col col-xs-12 col-md-4">
                    <div class="logo-holder">
                        <img src="assets/images/logo.png" alt="">
                    </div><!--//logo-holder-->
                    <div class="contact-details">
                        <div class="address">
                           Academy Grammar School<br>56 Kingston Road, London, KT2 6PY
                        </div><!--//address-->
                        <div class="contact">
                            <div class="item">T: <a href="#">0800 123 4567</a></div>
                            <div class="item">E: <a href="#">info@yourschool.com</a></div>
                        </div><!--//contact-->
                    </div>
                </div><!--//footer-col-->
                <div class="footer-col col-xs-12 col-md-8">
                    <div class="footer-links row">
                        <div class="sub-col col-xs-12 col-sm-4">
                            <h4 class="col-title">About Us</h4>
                            <ul class="footer-links list-unstyled">
                                <li class="link-item"><a href="#">The School</a></li>
                                <li class="link-item"><a href="#">Governors</a></li>
                                <li class="link-item"><a href="#">Teachers</a></li>
                                <li class="link-item"><a href="#">Admissions</a></li>
                            </ul>
                        </div><!--//sub-col-->
                        <div class="sub-col col-xs-12 col-sm-4">
                            <h4 class="col-title">School Life</h4>
                            <ul class="footer-links list-unstyled">
                                <li class="link-item"><a href="#">e-Portal</a></li>
                                <li class="link-item"><a href="#">OFSTED Reports</a></li>
                                <li class="link-item"><a href="#">School Policies</a></li>
                                <li class="link-item"><a href="#">Vacancies</a></li>
                            </ul>
                        </div><!--//sub-col-->
                        <div class="sub-col col-xs-12 col-sm-4">
                            <h4 class="col-title">Useful Links</h4>
                            <ul class="footer-links list-unstyled">
                                <li class="link-item"><a href="#">Contact</a></li>
                                <li class="link-item"><a href="#">FAQs</a></li>
                                <li class="link-item"><a href="#">Privacy Policy</a></li>
                                <li class="link-item"><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </div><!--//sub-col-->
                    </div><!--//row-->
                    <div class="divider"></div>
                    <ul class="social-media list-inline">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </div><!--//footer-col-->
            </div><!--//row-->

            <small class="copyright">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small> 
        </div>
    <!--//container-->
</footer>