<section class="page-hero">
  <div class="hero-page-title container">
      <h1>News &amp; Events</h1>
  </div>
  <div class="mask"></div>
</section><!--//page-hero-->

<div class="main-cols-wrapper">
<section class="events-section">
     <div class="container">
         <h2 class="section-title">Events</h2>
         <div class="row">
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="time">
                         <div class="time-inner">
                             <div class="date">26</div>
                             <div class="month">Jan</div>
                         </div>
                     </div><!--//time-->
                     <div class="details">
                         <h4 class="event-title">Open Evening</h4>
                         <div class="meta">
                             <ul class="list-inline meta-list">
                                 <li><i class="fa fa-clock-o" aria-hidden="true"></i>4pm - 9pm</li>
                                 <li><i class="fa fa-map-marker" aria-hidden="true"></i>Main Building</li>
                             </ul>
                         </div><!--//meta-->
                         <div class="details">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.
                         </div><!--//details-->
                         <div class="meta">
                         </div><!--//meta-->
                     </div><!--//details-->
                 </div><!--//item-inner-->
             </div><!--//item-->
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="time">
                         <div class="time-inner">
                             <div class="date">07</div>
                             <div class="month">Dec</div>
                         </div>
                     </div><!--//time-->
                     <div class="details">
                         <h4 class="event-title">Drama Workshop</h4>
                         <div class="meta">
                             <ul class="list-inline meta-list">
                                 <li><i class="fa fa-clock-o" aria-hidden="true"></i>2pm - 4pm</li>
                                 <li><i class="fa fa-map-marker" aria-hidden="true"></i>School Theatre</li>
                             </ul>
                         </div><!--//meta-->
                         <div class="details">
                             Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. 
                         </div><!--//details-->
                         <div class="meta">
                         </div><!--//meta-->
                     </div><!--//details-->
                 </div><!--//item-inner-->
             </div><!--//item-->
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="time">
                         <div class="time-inner">
                             <div class="date">20</div>
                             <div class="month">Nov</div>
                         </div>
                     </div><!--//time-->
                     <div class="details">
                         <h4 class="event-title">Science Day</h4>
                         <div class="meta">
                             <ul class="list-inline meta-list">
                                 <li><i class="fa fa-clock-o" aria-hidden="true"></i>8am - 4pm</li>
                                 <li><i class="fa fa-map-marker" aria-hidden="true"></i>Sports Hall</li>
                             </ul>
                         </div><!--//meta-->
                         <div class="details">
                             Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                         </div><!--//details-->
                     </div><!--//details-->
                 </div><!--//item-inner-->
             </div><!--//item-->
         </div><!--//row-->
         <div class="action text-center">
              <a class="btn btn-ghost-alt" href="calendar.html">View All<i class="fa fa-angle-right" aria-hidden="true"></i></a>
         </div>
     </div><!--//container-->
 </section><!--//events-section-->
 
 <section id="news-section" class="news-section section">
     <div class="container">
         <h2 class="section-title">News</h2>
         <div class="row">
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="thumb-holder">
                         <img class="img-responsive" src="assets/images/news/thumb-1.jpg" alt="">
                     </div><!--//thumb-holder-->
                     <div class="content-holder">
                         <h4 class="news-title"><a href="#">School Concert</a></h4>
                         <div class="intro">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes...
                         </div><!--//intro-->
                     </div><!--//content-holder-->
                     <a class="link" href="#" data-toggle="modal" data-target="#news-modal-1"></a>
                 </div><!--//item-inner-->
             </div><!--//item-->
             
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="thumb-holder">
                         <img class="img-responsive" src="assets/images/news/thumb-2.jpg" alt="">
                     </div><!--//thumb-holder-->
                     <div class="content-holder">
                         <h4 class="news-title"><a href="#">Year 6 Sports Day</a></h4>
                         <div class="intro">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes...
                         </div><!--//intro-->
                     </div><!--//content-holder-->
                     <a class="link" href="#" data-toggle="modal" data-target="#news-modal-2"></a>
                 </div><!--//item-inner-->
             </div><!--//item-->
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="thumb-holder">
                         <img class="img-responsive" src="assets/images/news/thumb-3.jpg" alt="">
                     </div><!--//thumb-holder-->
                     <div class="content-holder">
                         <h4 class="news-title"><a href="#">ICT Week</a></h4>
                         <div class="intro">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes...
                         </div><!--//intro-->
                     </div><!--//content-holder-->
                     <a class="link" href="#" data-toggle="modal" data-target="#news-modal-3"></a>
                 </div><!--//item-inner-->
             </div><!--//item-->
             
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="thumb-holder">
                         <img class="img-responsive" src="assets/images/news/thumb-4.jpg" alt="">
                     </div><!--//thumb-holder-->
                     <div class="content-holder">
                         <h4 class="news-title"><a href="#">Reading &amp; Writing Club</a></h4>
                         <div class="intro">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes...
                         </div><!--//intro-->
                     </div><!--//content-holder-->
                     <a class="link" href="#" data-toggle="modal" data-target="#news-modal-4"></a>
                 </div><!--//item-inner-->
             </div><!--//item-->
             
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="thumb-holder">
                         <img class="img-responsive" src="assets/images/news/thumb-5.jpg" alt="">
                     </div><!--//thumb-holder-->
                     <div class="content-holder">
                         <h4 class="news-title"><a href="#">Year 7 PE</a></h4>
                         <div class="intro">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes...
                         </div><!--//intro-->
                     </div><!--//content-holder-->
                     <a class="link" href="#" data-toggle="modal" data-target="#news-modal-5"></a>
                 </div><!--//item-inner-->
             </div><!--//item-->
             
             <div class="item col-xs-12 col-sm-4">
                 <div class="item-inner">
                     <div class="thumb-holder">
                         <img class="img-responsive" src="assets/images/news/thumb-6.jpg" alt="">
                     </div><!--//thumb-holder-->
                     <div class="content-holder">
                         <h4 class="news-title"><a href="#">Year 5 Music Club</a></h4>
                         <div class="intro">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes...
                         </div><!--//intro-->
                     </div><!--//content-holder-->
                     <a class="link" href="#" data-toggle="modal" data-target="#news-modal-6"></a>
                 </div><!--//item-inner-->
             </div><!--//item-->
             
         </div><!--//row-->
         <div class="action text-center">
              <a class="btn btn-ghost" href="#">Load More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
         </div>
     </div><!--//container-->
 </section>
</div><!--//main-cols-wrapper-->
<app-footer></app-footer>