<div class="welcome-block block">
        <div class="content">
            <h3 class="block-title">Welcome from the Head Master</h3>
            <div class="intro">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium sollicitudin orci, ac aliquet felis elementum tristique. Etiam vel sodales nisl. Ut eu justo lacus. Mauris vitae consectetur tellus, eget consequat tellus. Nunc aliquet mollis scelerisque. Duis odio libero, hendrerit vel urna vitae, rhoncus porttitor turpis. In in felis id orci posuere egestas. In dapibus ac velit iaculis dapibus. Quisque rhoncus hendrerit nulla in luctus.</p>
                <div class="source">
                    <div class="name script">Dr. David Walsh</div>
                    <div class="title">Head Master</div>
                </div><!--//source-->
            </div><!--//intro-->
        </div><!--//content-->
        <div class="figure">
            <img src="assets/images/headmaster.jpg" alt="">
        </div><!--//figure-->
    </div><!--//welcome-block-->Open Day 2017