<aside class="col-side col-xs-12 col-md-4">
        <div class="shortcuts-block block">
            <div class="item bg-accent">
                <i class="fa fa-download" aria-hidden="true"></i>
                <span class="text"><a href="#">Download Prospectus</a></span>
            </div><!--//item-->
            <div class="item bg-dark">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span class="text"><a href="#">Open Day 2017</a></span>
            </div><!--//item-->
            <div class="item bg-primary">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <span class="text"><a href="#">Virtual Tour</a></span>
            </div><!--//item-->
            <div class="item bg-secondary">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <span class="text"><a href="#">Photo Gallery</a></span>
            </div><!--//item-->
        </div><!--//shortcuts-block-->
        <div class="events-block block">
            <h3 class="block-title">Upcoming Events</h3>
            <div class="events-items">
                <div class="item">
                    <div class="time">
                        <div class="time-inner">
                            <div class="date">26</div>
                            <div class="month">Jan</div>
                        </div>
                    </div><!--//time-->
                    <div class="details">
                        <h4 class="event-title">Open Evening</h4>
                        <div class="intro">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...
                        </div><!--//intro-->
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="time">
                        <div class="time-inner">
                            <div class="date">07</div>
                            <div class="month">Dec</div>
                        </div>
                    </div><!--//time-->
                    <div class="details">
                        <h4 class="event-title">Drama Workshop</h4>
                        <div class="intro">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...
                        </div><!--//intro-->
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="time">
                        <div class="time-inner">
                            <div class="date">20</div>
                            <div class="month">Nov</div>
                        </div>
                    </div><!--//time-->
                    <div class="details">
                        <h4 class="event-title">Science Day</h4>
                        <div class="intro">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...
                        </div><!--//intro-->
                    </div><!--//details-->
                </div><!--//item-->
                <div class="action text-center">
                <a class="btn btn-ghost-alt" href="calendar.html">View Calendar<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div><!--//events-items-->
        </div><!--//block-->
    </aside>