 
<section class="page-hero">
  <div class="hero-page-title container">
      <h1>Admissions</h1>
  </div>
  <div class="mask"></div>
</section>

<div class="breadcrumb-container">
  <div class="container">
      <ol class="breadcrumb">
        <li><i class="fa fa-home" aria-hidden="true"></i> <a href="index.html">Home</a></li>
        <li class="active">Admissions</li>
      </ol>
  </div><!--//container-->
</div>

<div class="main-cols-wrapper">
  <section class="section opensessions-section">
      <div class="container">
          <h2 class="section-title text-center">Open Sessions</h2>
          <div class="intro">
              Please contact the school to book your guided tour. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          </div><!--//intro-->
          <div id="opensessions-dates" class="opensessions-dates row">
              <div class="item col-xs-12 col-sm-6">
                  <div class="item-inner" style="height: 359.28px;">
                      <h3 class="title">Open Days</h3>
                      <div class="date-item">
                          <p>
                              <i class="fa fa-calendar" aria-hidden="true"></i>Wednesday 3rd Dec 2017<br>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>10am - 4pm<br>
                              <i class="fa fa-map-marker" aria-hidden="true"></i>Main School Building
                          </p>
                          <p class="note">*Note: Last tour is at 3.30pm</p>
                      </div><!--//date-item-->
                      <div class="date-item">
                          <p>
                              <i class="fa fa-calendar" aria-hidden="true"></i>Friday 5th Dec 2017<br>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>2pm - 6pm<br>
                              <i class="fa fa-map-marker" aria-hidden="true"></i>Main School Building
                          </p>
                          <p class="note">*Note: Last tour is at 5.30pm</p>
                      </div><!--//date-item-->
                  </div><!--//item-inner-->
              </div><!--//item-->
              <div class="item col-xs-12 col-sm-6">
                  <div class="item-inner" style="height: 359.28px;">
                      <h3 class="title">Open Evenings</h3>
                      <div class="date-item">
                          <p>
                              <i class="fa fa-calendar" aria-hidden="true"></i>Thursday 21st Nov 2017<br>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>6pm - 9pm<br>
                              <i class="fa fa-map-marker" aria-hidden="true"></i>Main School Building
                          </p>
                          <p class="note">*Note: Last tour is at 8.30pm</p>
                      </div><!--//date-item-->
                      <div class="date-item">
                          <p>
                              <i class="fa fa-calendar" aria-hidden="true"></i>Friday 28th Nov 2017<br>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>6pm - 9pm<br>
                              <i class="fa fa-map-marker" aria-hidden="true"></i>Main School Building
                          </p>
                          <p class="note">*Note: Last tour is at 8.30pm</p>
                      </div><!--//date-item-->
                  </div><!--//item-inner-->
              </div><!--//item-->
          </div><!--//row-->
      </div><!--//container-->
  </section><!--//section-->
  
  <section class="section timeline-section">
      <div class="container">
          <h2 class="section-title text-center">Admissions Process</h2>
          
          <div class="timeline-container">
        <div class="timeline-item clearfix">
          <div class="timeline-icon">
                      DEC
          </div>
          <div class="timeline-content">
              <div class="time">Dec 2017</div>
            <h4 class="title">Applications</h4>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  					              
              </div>
              <div class="files">
                  <div class="file-item">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i> <a href="#">Prospectus (3, 332KB)</a> <span class="label label-pdf">PDF</span>
                  </div>
                  <div class="file-item">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i> <a href="#">Application Form (1, 432KB)</a> <span class="label label-pdf">PDF</span>
                  </div>
                  <div class="file-item">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i> <a href="#">Application Form (2, 234KB)</a> <span class="label label-word">Word</span>
                  </div>
              </div>
          </div><!--//timeline-content-->
        </div><!--//timeline-item-->
        
        <div class="timeline-item clearfix">
          <div class="timeline-icon">
                      JAN
          </div>
          <div class="timeline-content right">
              <div class="time">Jan 2018</div>
            <h4 class="title">Entrance Examinations &amp; Interviews</h4>
            <div class="desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
            
              <ul class="list-unstyled list">
                  <li><i class="fa fa-check" aria-hidden="true"></i>Verbal Reasoning</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>Problem-solving</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>English test</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>Maths test</li>
              </ul>					              
              </div>
          </div><!--//timeline-content-->
        </div><!--//timeline-item-->
        
        <div class="timeline-item clearfix">
          <div class="timeline-icon">
                      MAR
          </div>
          <div class="timeline-content">
              <div class="time">Mar 2018</div>
            <h4 class="title">Offers</h4>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.   					              
              </div>
          </div><!--//timeline-content-->
        </div><!--//timeline-item-->
        
        <div class="timeline-item clearfix">
          <div class="timeline-icon">
                      MAY
          </div>
          <div class="timeline-content right">
              <div class="time">May 2018</div>
            <h4 class="title">Student Registration &amp; Enrolment</h4>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.  					              
              </div>
          </div><!--//timeline-content-->
        </div><!--//timeline-item-->
        
        <div class="timeline-item clearfix">
          <div class="timeline-icon">
                      JUN
          </div>
          <div class="timeline-content">
              <div class="time">June 2018</div>
            <h4 class="title">Fees &amp; Scholarship</h4>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.  					              
              </div>
              <div class="action">
                  <a href="#" class="btn btn-ghost-alt">Fees for 2018</a>
              </div>
          </div><!--//timeline-content-->
        </div><!--//timeline-item-->
        
        <div class="timeline-item">
          <div class="timeline-icon complete">
                      <i class="fa fa-check icon"></i>
          </div>
        </div><!--//timeline-item-->
              
      </div><!--//timeline-container-->

      </div><!--//container-->
  </section><!--//timeline-section-->
</div>