<app-header *ngIf='schoolData' [banner]='schoolData.banner'></app-header>

<div class="home-cols-wrapper">
    <div class="container">
        <div class="row">
            <section class="col-main col-xs-12 col-md-8">
                <app-headmaster></app-headmaster>
                <app-news *ngIf='schoolData' [news]='schoolData.news'></app-news>
            </section>
            <app-event *ngIf='schoolData' [events]='schoolData.events'></app-event>
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</div>
<!--//home-cols-wrapper-->

<!-- <app-footer></app-footer> -->