<div class="x_title">
  <h2>Time Table  </h2>
  <div class="clearfix"></div>
  <div class="clearfix"></div>
</div>

<div style="overflow-x:auto;"> 
  <table id="examTimeTable" class="table table-striped table-bordered dataTable no-footer">
    <thead>
      <tr role="row">
        <th>Time</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thur</th>
        <th>Frid</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
  
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
  
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
  
  
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
  
  
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
  
  
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
  
      <tr role="row" class="odd">
        <td class="sorting_1">11:23 - 11:23</td>
        <td>History</td>
        <td>Algebra</td>
        <td>Science2</td>
        <td>Science2</td>
        <td>Social Service</td>
        <td>-</td>     
      </tr>
    </tbody>
  </table>
 </div>
  
 